<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
<link href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BlockChain Demo | 交易</title>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" /> -->
  <link rel="stylesheet" href="./static/assets/css/tailwind.output.css" />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <script src="./static/assets/js/init-alpine.js"></script>
</head>

<body>
  <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen}">
    <!-- 左侧按钮 -->
    <aside class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0">
      <div class="py-4 text-gray-500 dark:text-gray-400">
        <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="#">
          BlockChain Demo
        </a>
        <ul class="mt-6">
          <li class="relative px-6 py-3">

            <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"
              href="/">
              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                </path>
              </svg>
              <span class="ml-4">基本信息</span>
            </a>
          </li>
        </ul>
        <ul>
          <!-- 区块信息 -->
          <li class="relative px-6 py-3">
            <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
              href="block">
              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
                <path d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path>
              </svg>
              <span class="ml-4">区块信息</span>
            </a>
          </li>
          <!-- 挖矿按钮 -->

          <li class="relative px-6 py-3">

            <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
              href="mine">
              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01">
                </path>
              </svg>
              <span class="ml-4">挖矿</span>
            </a>
          </li>
          <!-- 交易按钮 -->
          <li class="relative px-6 py-3">
            <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
              aria-hidden="true"></span>
            <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
              href="transaction">
              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10">
                </path>
              </svg>
              <span class="ml-4">交易</span>
            </a>
          </li>

          <li class="relative px-6 py-3">
            <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
              href="crypto">
              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122">
                </path>
              </svg>
              <span class="ml-4">签名验证</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <!-- ------------------------------------------------------------------------------------------------------------------------------ -->







    <div class="flex flex-col flex-1">
      <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
        <div
          class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
          <!-- Mobile hamburger -->
          <button class="p-1 -ml-1 mr-5 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple"
            @click="toggleSideMenu" aria-label="Menu">
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
          <!-- Search input -->
          <div class="flex justify-center flex-1 lg:mr-32">
            <div class="relative w-full max-w-xl mr-6 focus-within:text-purple-500">

            </div>
          </div>
          <ul class="flex items-center flex-shrink-0 space-x-6">
            <b>
              <li class="flex">Current Account:<span id="currentAccount">{{currentAccount}}</span></li>
            </b>
            {% if currentAccount == None %}
            <script>swal('在使用交易功能前请创建用户')</script>
            {%endif%}
            <ul class="flex items-center flex-shrink-0 space-x-6">

              <!-- Theme toggler -->
              <li class="flex">
                <button class="rounded-md focus:outline-none focus:shadow-outline-purple" @click="toggleTheme"
                  aria-label="Toggle color mode">
                  <template x-if="!dark">
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                  </template>
                  <template x-if="dark">
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd"
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </template>
                </button>
              </li>
            </ul>

        </div>
      </header>
      <main class="h-full pb-16 overflow-y-auto">
        <div class="container px-6 mx-auto grid">

          <label class="block mt-4 text-sm">
            <!-- <span class="text-gray-700 dark:text-gray-400"> -->
            <h1 style="font-size:30px">Attention!</h1>
            <!-- </span> -->

            <textarea
              class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
              rows="7" disabled="true" placeholder="Enter some long form content."
              style="font-weight:800; border-radius:0">比特币采用的是 UTXO 模型,并不直接存在“余额”这个概念，余额需要通过遍历整个交易历史得来。我们也实现这个机制。   一笔交易由一些输入（input）和输出（output）组合而来，在我们的交易中，也会接受多个输入然后产生多个输出。   
- 比特币中使用UTXO模型来计算账户余额，即未花费的交易输出  
- 未被放入新区块的交易，将会被广播到所有节点，等待被验证   
- 交易会等待矿工挖到新的区块之后，被当作区块的附属信息存入交易数据库中   
- 该系统中的转账功能，默认交易输出为当前账户，需要指定交易输入的账户，并指定交易金额
            </textarea>
            <br>
          </label>


          <br>


          <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
              <table class="w-full whitespace-no-wrap">
                <p class="px-4 py-3">账户信息</p>
                <thead>
                  <tr
                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3">Txn</th>
                    <th class="px-4 py-3">Address</th>
                    <th class="px-4 py-3">Pubkey</th>
                  </tr>
                </thead>
                {% if lens == 0 %}
                <script>swal('暂无用户，请创建用户')</script>
                {%endif%}
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                  {% for i in output %}
                  <tr class="text-gray-700 dark:text-gray-400">
                    <td class="px-4 py-3">
                      <div class="flex items-center text-sm">
                        <!-- Avatar with inset shadow -->
                        <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block"></div>
                        <div>
                          <p class="font-semibold">{{loop.index}}</p>
                        </div>
                      </div>
                    </td>
                    <td class="px-4 py-3 text-sm">
                      {{ i.address }}
                    </td>
                    <td class="px-4 py-3 text-xs">
                      <span
                        class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                        {{ i.pubkey }}
                      </span>
                    </td>
                  </tr>
                  {% endfor %}
              </table>
            </div>
          </div>











          <div style="margin-top:15px;">
            <p style="padding-bottom:8px" class="mb-3 text-lg font-semibold text-gray-600 dark:text-gray-300">
              FromAddress:</p>
            <input style="border-radius:0;height: 50px;"
              class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
              type="text" placeholder={{currentAccount}} readonly="readonly" />
          </div>

          <div style="margin-top:20px;">
            <p style="padding-bottom:8px" class="mb-3 text-lg font-semibold text-gray-600 dark:text-gray-300">
              ToAddress:</p>
            <input id="toAddress" style="border-radius:0;height: 50px;"
              class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
              type="text" placeholder="输入转账地址" />
            <br>
          </div>

          <div style="margin-top:20px;">
            <p style="padding-bottom:8px" class="mb-3 text-lg font-semibold text-gray-600 dark:text-gray-300">Amount:
            </p>
            <input id="amount" style="border-radius:0;height: 50px;"
              class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
              type="text" placeholder="输入转账金额" />
            <br>
          </div>











          <!-- 交易按钮 -->
          <div style="margin-top:30px;margin-bottom:30px;justify-content:flex-end;" class="flex items-center">
            <br>
            <button id="buttonControl" style="border-radius:2px;padding:14px 26px;float:right;display: none"
              class=" flex items-center justify-between  px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
              onclick=Transfer()>
              Transfer
            </button>
          </div>



          <div class="w-full overflow-hidden rounded-lg shadow-xs" id="tableFunc" style="display:none">
            <!-- <div class="w-full overflow-x-auto"> -->
            <table class="w-full whitespace-no-wrap">
              <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b
                dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                </tr>
                <th class="px-5 py-3">属性</th>
                <th class="px-5 py-3">值</th>
              </thead>


              <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

                <tr class="text-gray-700 dark:text-gray-400">

                  <td class="px-4 py-3" style="text-align: center;width: 135px">
                    <div>
                      <p class="font-semibold" style="color:brown">交易哈希</p>
                    </div>
                  </td>
                  <td class="px-4 py-3 text-sm" style="text-align: center;">
                    <span id="transHash"></span>
                  </td>
                </tr>
                <tr class="text-gray-700 dark:text-gray-400">
                  <td class="px-4 py-3" style="text-align: center;">
                    <!-- Avatar with inset shadow -->
                    <!-- <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block"></div> -->
                    <div>
                      <p class="font-semibold">时间戳</p>
                    </div>

                  </td>
                  <td class="px-4 py-3 text-sm" style="text-align: center;">
                    <span id="timestamp"></span>
                  </td>
                </tr>











            </table>

            <div>
              <span
                class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">输入计数：
                <span id="inputNum"
                  class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                </span>
              </span>
            </div>
            <table class=" w-full whitespace-no-wrap">







              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-1 py-3" style="text-align: center;">
                  <!-- Avatar with inset shadow -->
                  <!-- <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block"></div> -->
                  <div>
                    <p class="font-semibold" style="text-align: center;">输入哈希</p>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm" style="text-align: center;">
                  <span id="inputHash">1</span>
                </td>
              </tr>
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-1 py-3" style="text-align: center;">
                  <!-- Avatar with inset shadow -->
                  <!-- <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block"></div> -->
                  <div>
                    <p class="font-semibold" style="text-align: center;">输入金额</p>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm" style="text-align: center;">
                  <span id="inputAmount"></span>
                </td>
              </tr>
            </table>









            <div>
              <span
                class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">输出计数：
                <span id="outputNum"
                  class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                </span>
              </span>

            </div>

            <table class=" w-full whitespace-no-wrap">

              <tr style="border-top:1px solid #d5d6d7" class="text-gray-700 dark:text-gray-400">
              <tr>
                <td style="height: 30px; background-color: none;"> </td>
              </tr>

              <td class="px-1 py-3" style="text-align: center;">
                <!-- Avatar with inset shadow -->
                <!-- <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block"></div> -->
                <div>
                  <p class="font-semibold" style="text-align: center;">输出哈希</p>
                </div>
              </td>
              <td class="px-4 py-4 text-sm" style="text-align: center;">
                <span id="outputHash1"></span>
              </td>
              </tr>
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-1 py-3" style="text-align: center;">
                  <!-- Avatar with inset shadow -->
                  <!-- <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block"></div> -->
                  <div>
                    <p class="font-semibold" style="text-align: center;">接收者</p>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm" style="text-align: center;">
                  <span id="outputReceiver1"></span>
                </td>
              </tr>

              <tr style="border-bottom:1px solid #d5d6d7" class="text-gray-700 dark:text-gray-400">
                <td class="px-1 py-3" style="text-align: center;">
                  <!-- Avatar with inset shadow -->
                  <!-- <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block"></div> -->
                  <div>
                    <p class="font-semibold" style="text-align: center;">输出金额</p>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm" style="text-align: center;">
                  <span id="ouputAmount1"></span>
                </td>
              </tr>

              <!-- --------------------------------------------------2--------------------------------------------------- -->
              <td class="px-1 py-3" style="text-align: center;">
                <!-- Avatar with inset shadow -->
                <!-- <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block"></div> -->
                <div>
                  <p class="font-semibold" style="text-align: center;">输出哈希</p>
                </div>
              </td>
              <td class="px-4 py-4 text-sm" style="text-align: center;">
                <span id="outputHash2"></span>
              </td>
              </tr>
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-1 py-3" style="text-align: center;">
                  <!-- Avatar with inset shadow -->
                  <!-- <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block"></div> -->
                  <div>
                    <p class="font-semibold" style="text-align: center;">接收者</p>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm" style="text-align: center;">
                  <span id="outputReceiver2"></span>
                </td>
              </tr>

              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-1 py-3" style="text-align: center;">
                  <!-- Avatar with inset shadow -->
                  <!-- <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block"></div> -->
                  <div>
                    <p class="font-semibold" style="text-align: center;">输出金额</p>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm" style="text-align: center;">
                  <span id="ouputAmount2"></span>

                </td>
              </tr>
              <tr style="border-bottom:1px solid #d5d6d7">
                <td style="height: 30px; background-color: none;"> </td>
                <td style="height: 30px; background-color: none;"> </td>
              </tr>
            </table>
          </div>
        </div>






</body>




<!-- 挖矿 -->

<script src="./static/assets/js/axios.min.js"></script>
<script>
  if (currentAccount.innerText) {
    buttonControl.style.display = "block"

    function Transfer () {
      if (toAddress.value == currentAccount.innerText) {
        swal("无法与自己交易")
        return 0
      }
      url = 'http://127.0.0.1:5001/transfer/' + toAddress.value + '/' + amount.value
      axios.get(url).then(res => {
        if (res.data == 'Amount too large') {
          swal('转账金额超过限制（小于 20）')
        }

        else {

          console.log(url)
          console.log(res.data)
          transHash.innerHTML = res.data.hash
          timestamp.innerHTML = res.data.timestamp
          inputNum.innerHTML = res.data.vin.length
          outputNum.innerHTML = res.data.vout.length


          //输入
          inputHash.innerHTML = res.data.vin[0].hash
          inputAmount.innerHTML = res.data.vin[0].amount

          //输出
          outputHash1.innerHTML = res.data.vout[0].hash
          outputReceiver1.innerHTML = res.data.vout[0].receiver
          ouputAmount1.innerHTML = res.data.vout[0].amount



          outputHash2.innerHTML = res.data.vout[1].hash
          outputReceiver2.innerHTML = res.data.vout[1].receiver
          ouputAmount2.innerHTML = res.data.vout[1].amount
          tableFunc.style.display = 'block'



        }
      }
      )
    }
  }

</script>







</html>